{% extends "layout/base.html" %}

    {% block content %}
    <h1 class="h1_message">Portfolio</h1>
    <hr/>
    <section name="bio" style="padding-bottom: 20px">
        <div class="sections">
            <h2 class="h2_message">Bio</h2>
        </div>
        <div class="pSections">
            <p>
                <img src="http://www.lebenslustiger.com/serendipity/uploads/GreyKnitBunny.jpg" width="100" height="100" style="border-radius: 50%; float: left; margin-right: 20px; border: 7px solid #E5F0F2" />
                {{content}}
            </p> 
        </div>   
    </section>
    <hr/>
    <section name="about_me">
        <div class="sections">
            <h2 class="h2_message">About Me</h2>
        </div>
        <div class="pSections">
            <ul>
                {% for ii in about_me %}
                <li> {{ ii }} </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <hr/>

    <section name="form">
        <div class="sections">
            <h2 class="h2_message">Send Message</h2>
        </div>
        <div class="pSections">
            <form id="form" method="POST" action="{% url 'lab_4:add_message' %}" style="padding: 10px;">
                {% csrf_token %}
                {{ message_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </section>

    {% endblock %}


