{% extends "layout/base.html" %}

    {% block title %} Message {% endblock %}

    {% block content %}
    <!--  Populate semua isi pesan dari model -->
    <table class="table">
        <thead>
            <th class="thMessage">Nama</th>
            <th class="thMessage">Email</th>
            <th class="thMessage">Pesan</th>
            <th class="thMessage">Dibuat Pada</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in message %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td class="tdMessage"> {{i.name}} </td>
                <td class="tdMessage"> {{i.email}} </td>
                <td class="tdMessage"> {{i.message}} </td>
                <td class="tdMessage"> {{i.created_date}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
