{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'> 

    <title> 
        {% block title %}{{author}} - Messages{% endblock %}
    </title>
</head>
<style >
    .h1_message{
        font-family: 'Cabin';
        font-size: 28px;
        color: #343A40;
        text-transform: uppercase;
        letter-spacing: 6px;
        text-align: center;
    }
    .h2_message{
        font-family: 'Cabin';
        font-size: 16px;
        color: #E5F0F2;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding: 10px;
    }
    #navbar2{
        font-family: 'Cabin';
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 12px;
    }
    .thMessage{
        background-color: #000000;
        font-family: 'Cabin';
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 14px;
        color: #E5F0F2;
        text-align: center;
    }
    .tdMessage{
        color: #343A40;
        font-family: 'Cabin';
        font-size: 13px;
        text-align: center;
    }

    .sections{
        background-color: #000000;
        width:100%;
        height: 35px;
        margin-bottom: 0px;
        display: relative;
        overflow: visible;
    }

    .pSections{
        background-color: #f9f9f9;
        width: 100%;
        padding: 10px;
        display: relative;
        overflow: auto;

    }

</style>
<body style="background-color: #E5F0F2;">
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
