{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="detail-title">
        <h3> DETAILS </h3>
    </div>
    <div class ="movie-details">
        <img src={{movie.poster}}/>
        <h3> {{ movie.title}} </h3>
        <h5> Released date: {{movie.released}} </h5>
        <h5> {{movie.genre}} </h5>
        <h5> {{movie.plot}} </h5>
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        <button class="btn btn-warning"> mark as watched </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

    <br>
    <div class="box">
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function(e){
        $(".navigation-list").append("<li><a href=\"{% url 'lab-10:movie_list' %}\"> movie list </a></li>")
        $(".navigation-list").append("<li><a href=\"{% url 'lab-10:list_watch_later' %}\"> watch later </a> </li>")
        $(".navigation-list").append("<li><a href=\"{% url 'lab-10:dashboard' %}\"> dashboard </a></li>")})
 </script>
{% endblock %}
