{% extends "lab_10/layout/base.html" %}

{% block content %}
<br>
<!-- List Movie -->
    <h1 id="list-title"> LIST MOVIE </h1>
    <div style="margin:20px; padding:20px;">
        <form method="GET" action="{% url 'lab-10:movie_list' %}" class="form-inline">
            <label> Nama </label> <input type="text" class="form-control" name="judul" placeholder="Judul"
                                         value="{{judul}}">
            <label> Tahun </label> <input type="text" class="form-control" name="tahun" placeholder="Tahun "
                                          value="{{tahun}}">
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <hr>
    <div class="table table-responsive">
        <table class="table table-hover" id="myTable" style="width: none;">
            <thead>
            <th> Judul</th>
            <th> Tahun</th>
            <th> Poster</th>
            <th> Detail</th>
            </thead>
        </table>
    </div>

<!-- Jquery script -->
<script type="text/javascript">
    $(document).ready(function(e){
        $(".navigation-list").append("<li><a href=\"{% url 'lab-10:list_watch_later' %}\"> watch later </a> </li>")
        $(".navigation-list").append("<li><a href=\"{% url 'lab-10:dashboard' %}\"> dashboard </a></li>")})


    $(document).ready(function(e) {
        $('#myTable').DataTable( {
            "ajax": {
                "dataType" : 'json',
                "contentType": "application/json; charset=utf-8",
                "url": {% autoescape off %} {{ jsonUrlDT }} {% endautoescape%} ,
                "dataSrc":"dataku",
            },
            "columns" : [
                {"data" : "Title"},
                {"data" : "Year"},
                {
                    "data" : "Poster",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<img src='"+ oData.Poster +"' style='height:50%' class='img-responsive img-thumbnail'/>");
                    }
                },
                {
                    "data" : null,
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='/lab-10/movie/detail/"+ oData.imdbID +"' class='btn btn-primary'> Detail </a>");
                    }
                }
            ],
        } );
    });
</script>

{% endblock %}
