{% extends "lab_10/layout/base.html" %}

{% block content %}
<h3 id="watchlater"> watch later </h3>
<div class="row-later">
    {% for movie in watch_later_movies %}
    <div class="movie-item">
        <div class="movie-title"><a href='/lab-10/movie/detail/{{movie.imdbid}}'>
    		<h5>{{ movie.title}}</h5> </a>
    	</div>
    	<div class="other-details">
    		<img src={{movie.poster}}/>
        	<p style="text-transform: uppercase;"> {{movie.genre}} </p>
        	<p> {{movie.plot}} </p>
    	</div>
	</div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function(e){
    	$(".navigation-list").append("<li><a href=\"{% url 'lab-10:movie_list' %}\"> movie list </a></li>")
        $(".navigation-list").append("<li><a href=\"{% url 'lab-10:dashboard' %}\"> dashboard </a></li>")})
 </script>
{% endblock %}
