{% extends "lab_8/layout/base.html" %}
{% block content %}
<div id="lab8">
	<div class="login-heading">	
		<h2> get started with facebook now!</h2>
		<button onclick="facebookLogin()" type="button" class="btn btn-info login-button">Log In with Facebook</button>
	</div>
</div>
 {% endblock %}

