  <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-static-top" id="navbar2">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'lab_4:index' %}" style="color:#ffffff">messages i receive
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'lab_4:index' %}#form"> form </a></li>
            <li><a href="{% url 'lab_4:result_table' %}"> messages list </a> </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lab-2"> home </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>