html, body{
	height: 100%;
	margin: 0px;
}

body{
	margin-top:70px;
	background-color: #000;
	font-family:'Cabin';
	background: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg");
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:hidden;
}

.navbar-nav li{
	letter-spacing: 4px;
	text-transform: uppercase;
}

.navbar-brand{
	letter-spacing: 6px;
	text-transform: uppercase;
}

h2{
	letter-spacing: 4px;
	color: #ffffff;
	text-align: right;
	text-transform: uppercase;
	text-align: right;
	text-shadow: 2px 2px #a3a3a3;
}

.login-heading{
	margin-top: 36%;
	margin-right: 5%;
}


@media only screen and (max-width: 768px){
	.login-heading{
		margin-top: 75%;
	}
}

.login-button{
	margin-left: 85%;
	}

@media only screen and (max-width: 768px){
	.login-button{
	margin-left: 75%;
	margin-right: 2%;
	}
}	

.data{
	margin-left: 20%;
}

#introduction{
	display: inline-flex;
}

.table{
	clear: both;
	border: none;
	font-family: 'Cabin';
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 80%;
}


#postInput{
	margin-left: 10%;
	width:80%;
}
.postStatus{
	margin-top: 2%;
	margin-left: 40%;
}