nav{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12px;
  font-family: 'Cabin';
}

body{
  margin-top: 70px;
  background-color: #E5F0F2;
}

hr{
  width:3em;
  border:3px solid #343A40;
  margin-bottom: 2em;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 600px;
}
/* animasi pada title */
.main-title{
  font-family: 'Cabin';
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #343A40;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #947d79;
  }
    100% {
        -webkit-text-stroke: 10px  #DFAFA3;
    letter-spacing: 18px;
    }
}

/* styling form */
#input-list form{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 5px;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
  background-color: #E5F0F2;
}

#input-list{
  background: linear-gradient(to bottom, #E5F0F2, #fac5b6);
}

@media only screen and (max-width: 450px){
  #input-list form{
    width: 90%;
  }
}

#my-list{
  background-color: #E5F0F2;
}
#my-list .my-list-title{
  font-family: 'Cabin';
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 1em:;
  margin-bottom: 0.3em;
  color: #343A40;
  text-align: center;
}

.to-do-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  position: relative;
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  -webkit-transition: top 2s; 
  transition: top 2s;
}

@media only screen and (max-width: 768px){
  .flex-item{
    position: relative;
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

.to-do-list .to-do-list-title {
  font-family: 'Cabin';
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  font-family: 'Cabin';
  letter-spacing: 1px;
  color: #FAC5B6;
  text-transform: uppercase;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  font-family: 'Cabin';
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-delete {
  background: #fac5b6;
  color: #343A40;
  font-family: 'Cabin';
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: -50px;
}

.to-do-list-delete{
  display: none;
}

.to-do-list:hover .to-do-list-delete{
  display: block;
  box-shadow: 3px 3px 2px #cfd9db;
}

.to-do-list-delete:hover{
  color: #fac5b6;
  background:#343A40;
  box-shadow: 3px 3px 2px #cfd9db;
}

.to-do-list:hover{
  box-shadow: 3px 3px 2px #cfd9db;
  top: -20px;
}

.to-do-list {
  position: relative;
  top: 0;
  transition: top 0.5s ease-out;
}

