body{
	margin-top:70px;
	background-color: #000;
	font-family:'Cabin';
	background: url("https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar-nav li{
	letter-spacing: 4px;
	text-transform: uppercase;
}

.navbar-brand{
	letter-spacing: 6px;
	text-transform: uppercase;
}

h2{
	letter-spacing: 4px;
	color: #f3f3f3;
	text-align: center;
	text-transform: uppercase;
	padding-top: 34%;
	padding-right: 3%;
	text-align: right;
}

.login-heading{
	margin-top: -3%;
}

.fb-login-button{
	margin-left: 78%;
}

.data{
	margin-left: 20%;
}

#introduction{
	display: inline-flex;
}

.table{
	clear: both;
	border: none;
	font-family: 'Cabin';
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 80%;
}

.td{

}


#postInput{
	margin-left: 10%;
	width:80%;
}
.postStatus{
	margin-top: 2%;
	margin-left: 40%;
}