body{
	margin-top:70px;
	background-color: #FFF;
	font-family:'Cabin';
	background: url("https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg");
	background-size: cover;}

.navbar-nav li{
	letter-spacing: 4px;
	text-transform: uppercase;
}

.navbar-brand{
	letter-spacing: 6px;
	text-transform: uppercase;
}

h2{
	letter-spacing: 4px;
	color: #f3f3f3;
	text-align: center;
	text-transform: uppercase;
	padding-top: 34%;
	padding-right: 3%;
	text-align: right;
}

.login-heading{
	margin-top: -3%;
}

.fb-login-button{
	text-align: right;
	margin-left:78%;
}

