body{
	margin-top:70px;
	background-color: #E5F0F2;
	font-family:'Cabin';
}

.navbar-nav li{
	letter-spacing: 4px;
	text-transform: uppercase;
}

.navbar-brand{
	letter-spacing: 6px;
	text-transform: uppercase;
}

h3{
	letter-spacing: 4px;
	color: #222;
	text-align: center;
	text-transform: uppercase;
}

div .login-headings{
	background-image: url("https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-size: cover;
}

.fb-login-button{
	margin:20%; 
	width: 80%;
	text-align: center;
}

