{% extends "lab_9/layout/base.html" %}

{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ request.COOKIES.user_login }} </p>
    </div>
</div>

<script type="text/javascript">
	$(document).ready(()=>{$('.navigation-list').append("<li><a href=\"{% url 'lab-9:cookie_clear' %}\"> Reset Cookies (Logout) </a></li>")
})
</script>
{% endblock %}