{% extends "lab_10/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
    <h2> Dashboard </h2>
    <p> <span> USERNAME :</span> {{ author }} </p>
    <p> <span> NPM :</span> {{kode_identitas}} </p>
    <p> <span> ROLE :</span> {{ role }} </p>
    <p><a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Daftar Movie </a></p>
    <p><a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-primary"> Daftar Watch Later </a></p>
</section>

<script type="text/javascript">
    $(document).ready(function(e){$(".navigation-list").append("<li><a href=\"{% url 'lab-10:auth_logout' %}\" onclick=\"return confirm('Keluar?')\"> Logout </a></li>")})
</script>

{% endblock %}
