html, body{
	height: 100%;
	margin: 0px;
}

body{
	margin-top:70px;
	background-color: #000;
	font-family:'Cabin';
	background: url("https://images.pexels.com/photos/196655/pexels-photo-196655.jpeg");
	height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:hidden;
}

.navbar-nav li{
	letter-spacing: 4px;
	text-transform: uppercase;
}

.navbar-brand{
	letter-spacing: 6px;
	text-transform: uppercase;
}

h2{
	letter-spacing: 4px;
	color: #ffffff;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 2px 2px #a3a3a3;
}

.login-heading{
	margin-top: 36%;
	margin-right: 5%;
}


@media only screen and (max-width: 768px){
	.login-heading{
		margin-top: 70%;
	}
}

.login-button{
	position: absolute;
	right: 5%;
}	

.profile{
	margin-left: 20%;
}

#introduction{
	display: flex;
	margin-bottom: 2em;
	width: 80%;
}

#introduction h2{
	padding-left:30px;
	letter-spacing: 3px;
	color: #000;
	text-align: left;
	text-transform: uppercase;
	text-shadow: none;
	position: relative;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-30%);
    -webkit-transform: translateX(-50%) translateY(-30%);
    transform: translateX(-50%) translateY(-30%);
}

.sectionHeader{
	background-color:#5bc0de;
	color: #fff;
	width:80%;
	text-shadow: none;
	text-align: left;
	padding: 0.01em 0 0.01em 1em;
	text-transform: uppercase;
	letter-spacing: 5px;
	overflow: visible;
}

.picture{
	width:8em;
	border-radius: 50%;
}

#info-content{
	display: relative;
	width: 80%;
	background-color: #FAFCFC;
	overflow: auto;
	padding: 0.01em 0 0.01em 1em;
	margin-bottom: 2em;
}

#info-content span{
	font:'Cabin';
	font-weight:bold;
	text-transform: uppercase;
	margin-right: 0.2em;
}

#addStatus{
	width: 80%;
}

.postStatus{
	color: #fff;
	background-color: #5bc0de;
	margin-top: 2em;
	border-style: 1px #1fb2de;
}

.feeds h2{
	letter-spacing: 3px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	text-shadow: none;
}

hr{
	border:3px solid #5bc0de;
	width: 10%;
}

.feed{
	width: 64%;
	margin-top:1em;
	margin-bottom:2em;
	margin-left:20%;
	margin-right: auto;
	display: relative;
	background-color: #FAFCFC;
	padding: 1em 0 1em 1em;
}