{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
    <style>
        body{
            margin-top: 70px;
            font-family: 'Cabin';
            padding-right: 2%;
            padding-left: 2%;
        }

        .navbar{
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        footer{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;

            margin-top: 50px;
        }

        /* DASHBOARD */
        #data-dashboard h2{
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: center;
        }

        #data-dashboard p{
            text-align: center;
        }

        p span{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
        }

        #data-dashboard .btn-primary{
            background-color: #222;
            color: #e5f0f2;
            text-transform: uppercase;
            letter-spacing: 3px;
            border: none;
            border-radius: 0px;
            width: 300px;
        }

        /*LIST MOVIE*/

        #list-title{
            text-transform: uppercase;
            letter-spacing: 4px;
            text-align: center;
        }

        form{
            text-align: center;
        }
        form label{
            text-transform: uppercase;
            letter-spacing: 4px;
            margin:5px 10px 5px 10px;
        }

        form .btn-primary{
            letter-spacing: 3px;
            text-transform: uppercase;
            background-color: #222;
            color: #e5f0f2;
            border-radius: 0px;
            border: none;
            margin: 10px 8px 3px 8px;
        }

        form .btn-primary:hover{
            background-color: #e5f0f2;
            color: #222;
        }

        #myTable thead{
            background-color: #222;
            color: #e5f0f2;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        /* HALAMAN DETAIL */
        .detail-title{
            letter-spacing: 4px;
            background-color: #222;
            display: relative;
            overflow: visible;
            color: #e5f0f2;
            padding: 0.002em 0em 0.002em 0.4em;
        }

        .movie-details{
            background-color: #e5f0f2;
            padding: 10px;
            display: relative;
            overflow: auto;
        }

        .movie-details img{
            height: 200px;
            float: left;
            margin-right: 2%;
        }

        .movie-details h3{
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .movie-details .btn-success, .movie-details .btn-warning{
            text-transform: uppercase;
            letter-spacing: 4px;
            background-color: #222;
            color: #e5f0f2;
            border: none;
            border-radius: 0px;
            box-shadow: 3px 3px 5px #989fa1;
            margin-top: 20px;
            display: inline-block;
        }

        .movie-details .btn-warning{
            background-color: #9e0000;
        }

        .movie-details .btn-warning:hover{
            background-color: #222;
        }

        /* HALAMAN WATCH LATER */
        #watchlater{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: #222;
            margin-bottom: 20px;
        }

        .row-later{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          align-content: flex-start;
          margin-right: -15px;
          margin-left: -15px;
          overflow: auto;
        }
        
        .movie-item{
          margin-top: 10px;
          position: relative;
          padding: 0 15px;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 25%;
        }

        @media only screen and (max-width: 768px){
          .movie-item{
            position: relative;
            padding: 0 15px;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100%;
          }
        }

        .movie-item .movie-title{
            background-color: #222;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-align: center;
            color: #e5f0f2;
            padding-top: 0.002em;
            padding-bottom: 0.002em;
            display: relative;
            overflow: visible;
        }

        .movie-title a{
            color: #e5f0f2;
        }

        .movie-title:hover{
            background-color: #f49581;
        }

        .other-details{
            background-color: #e5f0f2;
            padding: 10px;
            display: relative;
            overflow: auto;
        }

        .other-details img{
            float:left;
            height: 100px;
            margin-right: 15px;
        }

    </style>
    <title>
        {% block title %} Movies and all{% endblock %}
    </title>
</head>
<body>
<header>
   {% include "lab_10/partials/header.html" %}
    <!-- Your Header Here -->
</header>
<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}
    {% include "lab_10/partials/footer.html" %}
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>
