<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>not a lot here</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
</head>
<style>
    table, th, td {
        border: 2px solid #E9F1F2;
        padding: 10px;
        margin-bottom: 10px;
    }

    h3{
      font-family: "Cabin", "Helvetica", sans-serif;
      margin-top: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 17px;
    }

    .subject{
        font-size: 13px;
        font-family: "Cabin", sans-serif;
        color: #FBFBFB;
        background-color: #343A40;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .value{
        font-size: 13px;
        font-family: "Cabin", "Helvetica", sans-serif;
        color: #313331;
        background-color: #FBFBFB;
    }

    .diary_headings{
      font-family: "Cabin", sans-serif;
      font-size: 13px;
      color: #ffffff;
      background-color: #343A40;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    .diary_entry{
      font-family: "Cabin", Palatino, serif;
      color: #313331;
      background-color: #FBFBFB;
    }

    #navbar1{
      font-family: "Cabin";
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 12px;
      background-color: #000000;
    }

</style>
<body style="background-color: #E5F0F2">
    <div class="container-fullwidth">
        <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark" id="navbar1">
          <a class="navbar-brand" href="#">not a lot here</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
              <li class="nav-tem">
                <a class="nav-link" href="/lab-4">Messages</a>
              </li>
            </ul>

            <ul class="navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
